aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
asgiref==3.9.1
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
colorama==0.4.6

Django==5.2.6
django-cors-headers==4.8.0
djangorestframework==3.16.1
dj-database-url==2.3.0

filelock==3.19.1
frozenlist==1.7.0
fsspec==2025.9.0

gunicorn==23.0.0

huggingface_hub==0.34.4
idna==3.10
Jinja2==3.1.6
joblib==1.5.2
MarkupSafe==3.0.2
mpmath==1.3.0
multidict==6.6.4
narwhals==2.5.0
networkx==3.5

numpy==1.26.4
openai==1.101.0

packaging==25.0
pandas==2.3.2
pillow==11.3.0
propcache==0.3.2

psycopg2-binary==2.9.10

python-dateutil==2.9.0.post0
python-decouple==3.8

PyYAML==6.0.2
qrcode==8.2
regex==2025.9.1
requests==2.32.5

safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.2
sentence-transformers==5.1.0

setuptools==80.9.0
six==1.17.0
sqlparse==0.5.3
sympy==1.14.0
threadpoolctl==3.6.0

tokenizers==0.21.4
torch==2.8.0
tqdm==4.67.1
transformers==4.55.4

typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0

wheel==0.45.1
whitenoise==6.9.0
yarl==1.20.1